<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>MaxMakela: Поиск ресторанов</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        function list_sort(a, b){
            return b['rating'] - a['rating'];
        }

        var r = [];
        
        function animateLoading(isRunning, page_id) {
            console.log(`animation: ${isRunning}, restaurants: ${r.length}, page: ${page_id}`);
        }

        function clearResult() {
            $("#top").empty();
        }

        function showResult() {
            clearResult();
            $.each(r.sort(list_sort), function(i, rcur){
                $("#top").append(`<li>${rcur['name']} ${rcur['rating']}</li>`);
            });

            r = []; // to prevent endless list growing 
        }

        function updateRestarauntsList(place, page_id) {
            animateLoading(true, page_id);
            $.getJSON(`results?plc=${place}&next_page_id=${page_id}`, function(result){
                var next_page_id = result[1] || "";
                r = r.concat(result[0]);

                if(next_page_id) {
                    window.setTimeout(function() {
                        updateRestarauntsList(place, next_page_id);
                    }, 1500);
                }
                else {
                    animateLoading(false, next_page_id);
                    showResult();
                }
            });
        }

        $(function(){
            $("#search").click(function(){
                clearResult();
                var place = $("#plc").val();
                updateRestarauntsList(place, "");
            });
        });

    </script>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">Поиск лучших ресторанов</a>
            <form class="form-inline w-50 justify-content-end">
                <input id="plc" class="form-control w-50 mr-sm-2" type="search" placeholder="Например: Украина, Киев" aria-label="Search">
                <button id="search" class="btn btn-outline-success my-2 my-sm-0" type="submit">Искать</button>
            </form>
        </nav>
        
        <ul id="top"></ul>

        {% block body %}{% endblock %}
    </div>
</body>
</html>