<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Поиск ресторанов</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        function list_sort(a, b){
               return b['rating'] - a['rating'];
        }

        var data;
        $(function(){
            $("#full_search").click(function(){
                var place = document.getElementById('plc').value;
                $.getJSON("?plc="+place, function(result){
                    data = result.sort(list_sort);
                    $.each(result, function(i, r){
                        $("#top").append("<li>"+r['name']+"</li>");
                    });
                 });
             });
        });


        $(function(){
            $("#search").click(function(){
                var place = document.getElementById('plc').value;
                $.getJSON("results?plc="+place, function(result){
                    data = result.sort(list_sort);
                    $.each(result, function(i, r){
                        $("#top").append("<li>"+r['name']+"</li>");
                    });
                 });
             });
        });


    </script>
</head>
<body class="text-center">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <h1 class="h3 mb-3 font-weight-normal">Введи вашу страну и город</h1>
    <div>
        <input type = "text" id ="plc" name = "plc"/>
        <button id="search">Найти</button>
    </div>
        <a href="#" id="full_search">Найти еще</a>
    <ul id="top"></ul>

    {% block body %}{% endblock %}

</body>
</html>